<form class="hireling-sheet {{cssClass}}" autocomplete="off">

  <div class="sheet-wrapper">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
      <div class="cell cell--image">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
      </div>
      <div class="sheet-header__fields">
        <input class="input--title" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
        <div class="field--checkbox">
          <input type="checkbox" id="hireling-active" name="system.hireling.active" {{checked system.hireling.active}} />
          <label for="hireling-active">Active Duty</label>
        </div>
      </div>
    </header>

    {{!-- Main --}}
    <section class="sheet-main">

      {{!-- Attributes --}}
      <section class="sheet-attributes sheet-attributes--npc">

        <div class="cell">
          <label class="cell__title">Class</label>
          <input type="text" name="system.hireling.hirelingClass" value="{{system.hireling.hirelingClass}}" data-dtype="String"/>
        </div>

        <div class="cell">
          <label class="cell__title">Rank</label>
          <input type="number" name="system.hireling.rank" value="{{system.hireling.rank}}" placeholder="2 to 10" data-dtype="Number"/>
        </div>

        <div class="cell">
          <label class="cell__title ability-rollable rollable" data-roll="2d6 + {{system.hireling.loyalty.value}}" data-label="Loyalty" >
            <i class="fas fa-dice-d20"></i>
            Loyalty
          </label>
          <input type="text" name="system.hireling.loyalty.value" value="{{system.hireling.loyalty.value}}" placeholder="0 to 2" data-dtype="Number"/>
        </div>

        <div class="cell">
          <label class="cell__title">
            Cost
            <i class="fas fa-coins attribute-icon"></i>
          </label>
          <input type="text" name="system.hireling.loyalty.cost" value="{{system.hireling.loyalty.cost}}" placeholder="e.g. Glory" data-dtype="String"/>
        </div>

        {{!-- Skills --}}
        <div class="skills">
          <h2 class="skill_header">
            <label>Skills</label>
            <div class="skills--controls">
              <button type="button" class="skills--control skill-reset" title="Reset Skills">
                <i class="fas fa-redo"></i>
              </button>
              {{#if options.configureSkills}}
                <button type="button" class="skills--control skill-done" title="Done">
                  ✅
                </button>
              {{else}}
                <button type="button" class="skills--control skill-configure" title="Configure Skills">
                  ⚙️
                </button>
              {{/if}}
            </div>
          </h2>
          <div class="cell cell--abilities">
            <ol class="abilities-list">
              {{#each system.hireling.skills as |skill key|}}
                {{#if (or ../options.configureSkills skill.label)}}
                  <li class="ability flexrow" data-skill="{{key}}">
                    <label
                      for="system.hireling.skills.{{key}}.value"
                      class="cell__title skill-use rollable"
                      data-skill="{{key}}"
                      title="{{skill.label}}"
                    >
                      {{#if ../options.configureSkills}}
                        <input class="skill-label" type="text" name="system.hireling.skills.{{key}}.label" value="{{skill.label}}" placeholder="Skill Label" />
                      {{else}}
                        {{skill.label}}
                      {{/if}}
                    </label>
                    <input class="ability-mod" type="number" name="system.hireling.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number"/>
                    {{#if ../options.configureSkills}}
                      <input class="ability-value" type="number" name="system.hireling.skills.{{key}}.max" value="{{skill.max}}" data-dtype="Number" placeholder="Max"/>
                    {{else}}
                      <input class="ability-value" type="number" name="system.hireling.skills.{{key}}.max" value="{{skill.max}}" data-dtype="Number" placeholder="Max" readonly/>
                    {{/if}}
                  </li>
                {{/if}}
              {{/each}}
            </ol>
          </div>
        </div>

        {{!-- Tags --}}
        <div class="cell cell--tags">
          <label for="tag" class="control-label">{{localize "DW.Tags"}}</label>
          <div class="help-text"><p>{{localize "DW.TagsHelp" }}</p></div>
          <input class='tags-input-source' name="system.tags" placeholder='write some tags' value='{{ system.tags }}'/>
        </div>
      </section>


      {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
          <a class="item" data-tab="description">{{localize "DW.Description"}}</a>
          <a class="item" data-tab="moves">{{localize "DW.Moves"}}</a>
        </nav>

      {{!-- Sheet Body --}}
      <section class="sheet-body">

        <div class="tab description" data-group="primary" data-tab="description">
          <section class="sheet-tab">
            <div class="cell cell--description">
              <label class="cell__title">{{localize "DW.Description"}}</label>
              {{editor system.details.biographyEnriched target="system.details.biography" button=true owner=owner editable=editable}}
            </div>
          </section>
        </div>

        <div class="tab moves active" data-group="primary" data-tab="moves">
          <section class="sheet-tab">

            <div class="cell cell--basic-moves">
              <h2 class="cell__title">
                <label>{{localize "DW.MovesBasic"}}</label>
                <div class="item-controls">
                  <button  type="button" class="item-control item-create" title='{{localize "DW.MoveCreate"}}' data-type="npcMove" data-moveType="basic">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </h2>
              <ol class="items-list">
              {{#each basicMoves as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                  {{> "systems/dungeonworld/templates/parts/sheet-moves.html" item=item rollData=../../rollData statSettings=../../system.statSettings}}
                </li>
              {{/each}}
              </ol>
            </div>

            <div class="cell cell--special-moves">
              <h2 class="cell__title">
                <label>{{localize "DW.MovesSpecial"}}</label>
                <div class="item-controls">
                  <button  type="button" class="item-control item-create" title='{{localize "DW.MoveCreate"}}' data-type="npcMove" data-moveType="special">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </h2>
              <ol class="items-list">
              {{#each specialMoves as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                  {{> "systems/dungeonworld/templates/parts/sheet-moves.html" item=item rollData=../../rollData statSettings=../../system.statSettings}}
                </li>
              {{/each}}
              </ol>
            </div>
          </section>
        </div>
      </section>

    </section>

  </div>

</form>
