<form class="hireling-sheet" autocomplete="off">
  <h1><input name="name" type="text" value="{{actor.name}}" /></h1>
  <div class="resource-line">
    <label class="roll-loyalty" for="system.loyalty"><strong>Loyalty:</strong></label>
    <input type="number" name="system.loyalty" value="{{actor.system.loyalty}}" />
    <label for="system.cost"><strong>Cost:</strong></label>
    <input type="text" name="system.cost" value="{{actor.system.cost}}" />
  </div>
  <hr>
  <h2><button type="button" class="reset-skills">Reset</button> Skills</h2>
  <div class="skills">
    {{#each actor.system.skills as |skill key|}}
      <div class="skill-line" data-key="{{key}}">
        <button type="button" class="use-skill" data-skill="{{key}}">➖</button>
        <input type="text" name="system.skills.{{key}}.label" value="{{skill.label}}" />
        <input type="number" name="system.skills.{{key}}.value" value="{{skill.value}}" /> /
        <input type="number" name="system.skills.{{key}}.max" value="{{skill.max}}" />
        <button type="button" class="remove-skill" data-skill="{{key}}">🗑️</button>
      </div>
    {{/each}}
  </div>
  <button type="button" class="add-skill">Add Skill</button>
</form>
