<form class="hireling-sheet" autocomplete="off">
  <h1><input name="name" type="text" value="{{actor.name}}" /></h1>

  <section class="sheet-top">
    <div class="resource-line">
      <label class="roll-loyalty"><strong>Loyalty:</strong></label>
      <input type="number" name="system.loyalty" value="{{actor.system.loyalty}}" />
      <label><strong>Cost:</strong></label>
      <input type="text" name="system.cost" value="{{actor.system.cost}}" />
    </div>
    <hr>
    <h2><button type="button" class="reset-skills">Reset</button> Skills</h2>
    <div class="skills">
      <div class="skill-line">
        <button type="button" class="use-skill" data-skill="1">➖</button>
        <input type="text" name="system.skills.1.label" value="{{actor.system.skills.1.label}}" />
        <input type="number" name="system.skills.1.value" value="{{actor.system.skills.1.value}}" /> /
        <input type="number" name="system.skills.1.max" value="{{actor.system.skills.1.max}}" />
      </div>
      <div class="skill-line">
        <button type="button" class="use-skill" data-skill="2">➖</button>
        <input type="text" name="system.skills.2.label" value="{{actor.system.skills.2.label}}" />
        <input type="number" name="system.skills.2.value" value="{{actor.system.skills.2.value}}" /> /
        <input type="number" name="system.skills.2.max" value="{{actor.system.skills.2.max}}" />
      </div>
      <div class="skill-line">
        <button type="button" class="use-skill" data-skill="3">➖</button>
        <input type="text" name="system.skills.3.label" value="{{actor.system.skills.3.label}}" />
        <input type="number" name="system.skills.3.value" value="{{actor.system.skills.3.value}}" /> /
        <input type="number" name="system.skills.3.max" value="{{actor.system.skills.3.max}}" />
      </div>
      <div class="skill-line">
        <button type="button" class="use-skill" data-skill="4">➖</button>
        <input type="text" name="system.skills.4.label" value="{{actor.system.skills.4.label}}" />
        <input type="number" name="system.skills.4.value" value="{{actor.system.skills.4.value}}" /> /
        <input type="number" name="system.skills.4.max" value="{{actor.system.skills.4.max}}" />
      </div>
      <div class="skill-line">
        <button type="button" class="use-skill" data-skill="5">➖</button>
        <input type="text" name="system.skills.5.label" value="{{actor.system.skills.5.label}}" />
        <input type="number" name="system.skills.5.value" value="{{actor.system.skills.5.value}}" /> /
        <input type="number" name="system.skills.5.max" value="{{actor.system.skills.5.max}}" />
      </div>
    </div>
  </section>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="moves">Moves</a>
    <a class="item" data-tab="equipment">Equipment</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  <section class="sheet-body">
    <div class="tab moves" data-group="primary" data-tab="moves">
      <section class="sheet-tab">
    
        <div class="cell cell--basic-moves">
          <h2 class="cell__title">
            <label>Basic Moves</label>
            <div class="item-controls">
              <button type="button" class="item-control item-create" title="Add Move" data-type="npcMove" data-moveType="basic">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </h2>
          <ol class="items-list">
            {{#each basicMoves as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              {{> "systems/dungeonworld/templates/parts/sheet-moves.html" item=item rollData=../rollData statSettings=../../system.statSettings}}
            </li>
            {{/each}}
          </ol>
        </div>
    
        <div class="cell cell--special-moves">
          <h2 class="cell__title">
            <label>Special Moves</label>
            <div class="item-controls">
              <button type="button" class="item-control item-create" title="Add Move" data-type="npcMove" data-moveType="special">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </h2>
          <ol class="items-list">
            {{#each specialMoves as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              {{> "systems/dungeonworld/templates/parts/sheet-moves.html" item=item rollData=../rollData statSettings=../../system.statSettings}}
            </li>
            {{/each}}
          </ol>
        </div>
    
      </section>
    </div>

    <div class="tab" data-group="primary" data-tab="equipment">
      <ol class="items-list">
      {{#each items}}
        {{#if (eq this.type "equipment")}}
          <li class="item flexrow" data-item-id="{{this._id}}">
            <div class="item-name item-edit">
              <img class="item-icon" src="{{this.img}}" title="{{this.name}}" />
              <span class="item-label">{{this.name}}</span>
            </div>
            <div class="item-meta tags">
              {{#if this.system.equipped}}
                <span class="tag equipped">Equipped</span>
              {{/if}}
              {{#if this.system.uses}}
                <span class="tag counter uses">Uses: {{this.system.uses}}</span>
              {{/if}}
              {{#if this.system.quantity}}
                <span class="tag counter quantity">Qty: {{this.system.quantity}}</span>
              {{/if}}
              {{#if this.system.weight}}
                <span class="tag">Wt: {{this.system.weight}}</span>
              {{/if}}
            </div>
            <div class="item-controls">
              <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
          </li>
        {{/if}}
      {{/each}}
      </ol>
    </div>

    <div class="tab" data-group="primary" data-tab="description">
      {{editor actor.system.details.biography target="system.details.biography" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
