<button class="rest-all-hirelings" style="float:right;margin: 0.5em;">Rest All Hirelings</button>
<div class="hireling-manager-list">
  {{#each hirelings as |hl|}}
    <div class="hireling-row flexrow" style="align-items:center;margin-bottom:1em;">
      <img src="{{hl.img}}" title="{{hl.name}}" height="48" width="48" style="border-radius:6px;margin-right:1em;">
      <div style="flex:1;">
        <b>{{hl.name}}</b>
        <div class="hireling-skills flexrow" style="gap:1.5em;">
          {{#each hl.system.hireling.skills as |skill key|}}
            {{#if (gt skill.max 0)}}
              <div class="hireling-skill">
                <span>{{skill.label}}:</span>
                <span>
                  {{#each (range 1 skill.max) as |n|}}
                    {{#if (gte skill.value n)}}
                      <span class="skill-dot available" data-actor-id="{{hl._id}}" data-skill-key="{{key}}" title="Spend point">&#9679;</span>
                    {{else}}
                      <span class="skill-dot spent">&#9675;</span>
                    {{/if}}
                  {{/each}}
                </span>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
