/* Adds room for scrollbar in the equipment and moves lists */
.hireling-sheet .items-list .item-controls,
.stash-sheet .items-list .item-controls {
  margin-right: 12px;
}

/* === Scrollbar Fix === */
.dungeonworld.sheet .sheet-wrapper .sheet-main {
  height: calc(100% - 109px);
}
