.hireling-sheet .skills {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.hireling-sheet .skill-line {
  display: flex;
  align-items: center;
  gap: 6px;
}

.hireling-sheet .skill-line input.input {
  width: 50px;
}

.hireling-sheet .skill-line input[type="text"].input {
  flex: 1;
}
